@model IEnumerable<Client.Models.Department>

@{
    ViewData["Title"] = "ListDepartment";
    Layout = "_SidebarLayout";
}

<div id="main">
	<header class="mb-3 ">
		<a href="#" class="burger-btn d-block d-xl-none">
			<i class="bi bi-justify fs-3"></i>
		</a>
	</header>

	<div class="page-heading">
		<div class="page-title">
			<div class="row">
				<div class="col-12 col-md-6 order-md-1 order-last">
					<h3>List Department</h3>
					<p class="text-subtitle text-muted">
						Manager Employee Data
					</p>
				</div>
				<div class="col-12 col-md-6 order-md-2 order-first">
					<nav aria-label="breadcrumb"
						 class="breadcrumb-header float-start float-lg-end">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Dashboard</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">
								Department
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
		<section class="section">
			<div class="card">
				<div class="">
					</br><a href="@Url.Action("CreateDepartment","Admin")" class="btn btn-primary float-end me-4" data-toggle="modal" data-target="#modalTambah">
						Add Department
					</a>
				</div>

<div class="card-body">
    <table class="table table-striped" id="table1">
    <thead>
        <tr>
			<th style="display: none">Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
			<td style="display: none">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
			<a href="@Url.Action("EditDepartment", new { id = item.Id })" class="btn btn-success">Edit</a>
			<a href="@Url.Action("DeleteDepartment", new { id = item.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
				</div>
			</div>
		</section>
	</div>

	<footer>
		<div class="footer clearfix mb-0 text-muted mt-auto px-4">
			<div class="float-start text-sm">
				<p>2023 &copy;</p>
			</div>
			<div class="float-end text-sm">
				<p>
					Project MCC by
					<span class="text-danger">
						<i class="bi bi-heart-fill icon-mid"></i>
					</span>
					<a href="">Kelompok 4</a>
				</p>
			</div>
		</div>
	</footer>
</div>





